<div style ="display: flex;height: 750px;justify-content: center;">
     <div class ="main-container">
       <div class ="Selection-cont">
         <select name="" id="Country1">
           <option value ="USD">US DOLLAR</option>
           <option value ="INR">RUPEES</option>
           <option value ="EUR">EURO</option>
         </select>
         <p>to</p>
         <select name="" id="Country1">
           <option value ="USD">US DOLLAR</option>
           <option value ="INR">RUPEES</option>
           <option value ="EUR">EURO</option>
         </select>
       </div>
       <button>Submit</button>
       <div class ="result-container">
         <p>1 USD =1 USD</p>
     </div>
     </div>